<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health & Fitness Web</title>

    </head>
    <link rel="shortcut icon"  href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrs3AKwbSacYT52--QvnZbKuLgsTm_PEmQCg&usqp=CAU" type="image/png" />


    
    
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    {% extends 'base.html' %}
    {% block body %}


    <body>

        <div class="aboutUsMain_container">
            <video class="background-video3" autoplay loop muted poster="https://assets.codepen.io/6093409/homevideoclip" >
                <source class="video2" src="/static/image/bodyvideo2.mp4 " type="video/mp4" >

                </video>
            <div class="HeadaboutUsMain_container">
                <h1>The body achieves what the mind believes.</h1>

            </div>

        </div>

<div class="trainerSectionDive">

  <p>____OUR TEAM MAMBERS</p>

  <h1>OUR MOST EXPRIENCED TRAINERS</h1>

  <div class="trainerMainDiv">

    <div class="trainer-profile">
        <img src="/static/image/body12.jpg" alt="Trainer 2">
        <h2>Lisa Johnson</h2>
        <p>Yoga Instructor</p>
        <ul>
          <li>Registered Yoga Teacher (RYT-200)</li>
          <li>Specializes in Hatha and Vinyasa Yoga</li>
        </ul>
        <h3>Schedule</h3>
        <ul>
          <li>Tuesday: 9:00 AM - 1:00 PM</li>
          <li>Thursday: 9:00 AM - 1:00 PM</li>
          <li>Saturday: 10:00 AM - 2:00 PM</li>
        </ul>
      </div>
  
      <div class="trainer-profile">
        <img src="/static/image/body13.jpg" alt="Trainer 3">
        <h2>Michael Brown</h2>
        <p>Functional Training Coach</p>
        <ul>
          <li>Certified Strength and Conditioning Specialist (CSCS)</li>
          <li>Specializes in Functional Movement and HIIT</li>
        </ul>
        <h3>Schedule</h3>
        <ul>
          <li>Monday: 1:00 PM - 5:00 PM</li>
          <li>Wednesday: 3:00 PM - 7:00 PM</li>
          <li>Friday: 1:00 PM - 5:00 PM</li>
        </ul>
      </div>
  
      <div class="trainer-profile">
        <img src="/static/image/body14.jpg" alt="Trainer 4">
        <h2>Sarah Wilson</h2>
        <p>Pilates Instructor</p>
        <ul>
          <li>Certified Pilates Instructor</li>
          <li>Specializes in Mat Pilates and Pilates Reformer</li>
        </ul>
        <h3>Schedule</h3>
        <ul>
          <li>Tuesday: 2:00 PM - 6:00 PM</li>
          <li>Thursday: 2:00 PM - 6:00 PM</li>
          <li>Saturday: 9:00 AM - 1:00 PM</li>
        </ul>
      </div>
  </div>

</div>


        <div class="About_founderDiv">

            <h1>FOUNDER'S MESSAGE</h1>


            <div class="founder1">
               
                <div class="founder1uper">


                     <p>
                        <span style="color: green; font-size: 22px;">Dear Team and Team Members,</span> <br><br>
                        I wanted to express my heartfelt appreciation for your unwavering dedication and hard work. You are the driving force behind our gym's success. Your professionalism, 
                        <br>
                        

                        expertise, and care for our members are truly commendable. Together, we have created a thriving community that transforms lives. I am immensely proud of the positive 
                        <br>
                        <br>
                        impact we make. Let's continue fostering an environment of collaboration and support, lifting each other up. Your contributions are invaluable, and I am grateful for the exceptional work you do. Thank you for being part of this incredible team. Together, we will continue to inspire and empower, reaching new heights of success.
                        <br>
                        
                        Gratefully,
                        <br>
                        <br>
                      <span class="spanName">  SANJAY SUNAL</span>
                        <br>
                      <span class="spanName">  Founder of HEALTH & FITNESS.</span>





                     </p>
                    <div class="founderuperInerDiv1">
                        <p>sanjay 
                        </p>
                        <p id="work1">
                            FOUNDER And CHAIRPERSON

                        </p>
                        <img src="/static/image/IMG_20220706_144417.jpg" alt="">
                    </div>


                </div>

                <div class="founder1uper2">

                    <div class="founderuperInerDiv">
                        <p>Harshit</p>
                        <p id="work2">
                            CO-FOUNDER And VICE-CHAIRPERSON
                        </p>
                        
                        <img src="/static/image/harry.jpg" alt="">
                    </div>
                    
                 
                    <p class="lower_para"> 
                        <span style="color: green; font-size: 22px;">   Dear Team and Team Members,</span>
                        <br><br>
                        As co-founder and vice-chairperson of our gym, I want to extend my heartfelt appreciation for your commitment and dedication. <br>
                        <br>
                         Your hard work and enthusiasm have helped create a vibrant and supportive community. Together, we are transforming lives and achieving remarkable results. <br>
                         <br>
                         Your continued efforts inspire us all. Thank you for being a part of our gym family. Let's continue to strive for greatness, pushing boundaries and reaching new milestones together <br>
                        Sincerely,
                        <br>
                        <br>
                        <span class="spanName1"> HARSHIT RAWAT</span>
                        
                        <br>
                        <span class="spanName1"> Co-founder and Vice-chairperson of HEALTH & FITNESS.</span>
                    </p>


                </div>
            </div>



        </div>



    </body>
    {% endblock body %}

</html>
