<!DOCTYPE html>
<html>
<head>
  <title>Get Membership</title>
  <link rel="stylesheet" type="text/css" href="/static/css/gymRegist.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon"  href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrs3AKwbSacYT52--QvnZbKuLgsTm_PEmQCg&usqp=CAU" type="image/png" />



      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">    
  <link rel="stylesheet" href="/static/css/footer.css">

  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/dropdown.css">

</head>
{% extends 'base.html' %}
{% block body %}
 
<body>


  
  <h1>Get Membership</h1>
  
  <form action="/Registration" method="POST">
    
    <div class="bordeBox">
        <div class="userInfo">

            <input class="aboutinfo" type="text" placeholder="name *" name="name" required><br>
            <input class="aboutinfo" type="text" placeholder="email *" name="email" required><br>
            <input class="aboutinfo" type="text" placeholder="mobile *" name="mobile" required><br>
            <input class="aboutinfo" type="text" placeholder="qualification (Optional)" name="qualification" opt><br>
            <input class="aboutinfo" type="text" placeholder="address *" name="address" required><br>
           
        </div> 
        <button class="submit" type="submit"> Submit</button>
    </div>
    



</form>

 
</body>
{% endblock body %}

 

</html>



