<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon"  href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrs3AKwbSacYT52--QvnZbKuLgsTm_PEmQCg&usqp=CAU" type="image/png" />



        <link
            href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Righteous&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Health & Fitness Web</title>
    </head>
    {% extends 'base.html' %}
    {% block body %}

    <body>
       

        <div class="homemain_container">
            

            <div class="home_div_1">
                
                <video id="background-videos" autoplay loop muted poster="https://assets.codepen.io/6093409/homevideoclip" >
                    <source class="video2" src="/static/image/homevideoclip.mp4 " type="video/mp4" >

                    </video>
               

            
        

                    <div class="home_section_1">
                        <h1 class="home_header">Nothing looks good as healthy feels.</h1>
                        
    
                    </div>

                    <div class="icons">
                        <a href="tel:8433267776">
                            <button><i class="fa fa-phone" style="font-size:27px
                                ;color:rgb(255,
                                255,
                                255)"></i></button>
                        </a>
                        <a href="tel:6031112298">
    
                        <button><i class="fa fa-comments" style="font-size:27px
                                ;color:rgb(255, 255,
                                255)"></i></button>
                        </a>
                    </div>

               

                <div class="home_buttons">

                    <button class=" home_button_2"><a href="/gym">Became a Member</a></button> 

                </div>
            </div>
            <h1 class="home_div_2_header">About <span
                class="home_special_1">our</span>
            gym</h1>
            <div class="home_div_2">
                 
                <div class="home_it-started">
                    
                    <p class="home_div_2_para">A gym is a place where people go to
                         train and exercise, but also to unwind, socialize, and recharge. 
                         Therefore, a good gym is a facility that promotes physical activity, 
                         provides a safe, functional, and comfortable workout environment, 
                         and creates a pleasant and enjoyable 
                         atmosphere for recreation and socialization.</p>
                        <div class="home_div_2-buttons">
                            <button class="home_div_2-button"> <a href="/gym">Became a Member</a></button>
                        </div>
                </div>
                
                <div class="aboutGymImag">
                    <video class="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/bodyclip2" >
                        <source src ="/static/image/bodyclip2.mp4" type="video/mp4">
                        </video>
                </div>
            </div>

            <div class="home_div_3">

                <div class="home_div_3-help">
                    <p>
                        PUSH YOUR LIMITS FORWARD WE OFFER TO YOU

                    </p>
                    <h2 class="tagh2"> _______ OUR SERVICES FOR YOU</h2>
                   
                </div>

                <div class="home_div_3-cards">
                    
                    <div class="home_div_3-card1">
                        <span class="material-symbols-outlined">
                            fitness_center
                            </span>
                            <h3>QUALITY EQUIPMENT</h3>
                            <p>Equip your gym with top-quality gear for optimal performance, safety, and member satisfaction. Quality matters for success!</p>

                            <div class="hiddenbutton">
                                <a href="/service">find more <span class="material-symbols-outlined" style="font-size: 20px;">
                                   
                                    </span> </a>
                            </div>
                       
                    </div>

                    <div class="home_div_3-card1">
                        <span class="material-symbols-outlined">
                            conditions
                            </span>
                            <h3>HEALTH CARING</h3>
                            <p> Prioritize health at the gym. Stay hydrated, warm up, use proper form, and listen to your body. Safety first, always.</p>
                            <div class="hiddenbutton">
                                <a  class="serv" href="/service">find more <span class="material-symbols-outlined" style="font-size: 20px;" >
                                  
                                    </span> </a>
                            </div>

                    </div>

                    <div class="home_div_3-card1">
                        <span class="material-symbols-outlined">
                            strategy
                            </span>
                            <h3>GYM STRATEGYS</h3>
                            <p>
                                "Effective gym strategies: Set clear goals, vary workouts, track progress, prioritize rest, and stay consistent for results."    
                            </p>
                            <div class="hiddenbutton">
                                <a href="/service">find more <span class="material-symbols-outlined" style="font-size: 20px;">
                                    
                                    </span> </a>
                            </div>
                    </div>

                </div>
         
            </div>
            <div class="homeMainFeedbackDiv">

                <div class="feedbackDivimg">
                    <img src="/static/image/body14.jpg" alt="">

                </div>

                <div class="home_div_4">
                    <h1>______OUR REVIEWS</h1>
                    <img src="/static/image/quick-icon.png" alt>
                    <p> I think that the people here are very kind and the whole
                        place
                        in general has a good vibe to it. For example thewaiting
                        isn't
                        very stressful. The counsellor makes you very comfortable
                        and is
                        verunderstanding.</p>
                </div>

              
            </div>




        </div>
        <script src="/js/img.js"></script>

    </body>
    {% endblock body %}

</html>