<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/scedule.css">
  <title>Gym Schedule for Health and Fitness</title>
</head>
{% extends 'base.html' %}
{% block body %}
<body>
 
  <h1>Gym Schedule for Health and Fitness</h1>
  <table>
    <tr>
      <th>Day</th>
      <th>Muscle Group</th>
      <th>Workout</th>
    </tr>
    <tr>
      <td>Day 1</td>
      <td>Chest</td>
      <td>Barbell Bench Press, Incline Dumbbell Press, Dumbbell Flyes</td>
    </tr>
    <tr>
      <td>Day 2</td>
      <td>Back</td>
      <td>Deadlifts, Bent-Over Rows, Lat Pulldowns</td>
    </tr>
    <tr>
      <td>Day 3</td>
      <td>Legs</td>
      <td>Squats, Leg Press, Lunges</td>
    </tr>
    <tr>
      <td>Day 4</td>
      <td>Shoulders</td>
      <td>Overhead Press, Dumbbell Lateral Raises, Arnold Press</td>
    </tr>
    <tr>
      <td>Day 5</td>
      <td>Arms</td>
      <td>Barbell Bicep Curls, Tricep Dips, Hammer Curls</td>
    </tr>
    <tr>
      <td>Day 6</td>
      <td>Core</td>
      <td>Planks, Russian Twists, Hanging Leg Raises</td>
    </tr>
    <tr>
      <td>Day 7</td>
      <td>Rest and Recovery</td>
      <td>Rest and Recovery</td>
    </tr>
  </table>
</body>
{% endblock body %}

</html>