<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Services | Gym Website</title>
  <link rel="stylesheet" href="/static/css/service.css">
</head>
{% extends 'base.html' %}
    {% block body
    %}
<body>
 
<div class="serviceContainer">

  <section class="best-services">
    <h2>Best Services</h2>
    <div class="serviceMAin">

      <div class="service">
        <img src="/static/image/service1 (2).jpg" alt="Service 1">
        <h3>Personal Training</h3>
        <p> "Transform your body, mind, and spirit with tailored personal training, empowering you to exceed your limits, shatter barriers, and achieve greatness. Embrace the journey, embrace the change, and unlock the extraordinary within you."</p>
        <a href="https://www.youtube.com/watch?v=nvCrar6IvBk&pp=ygUXcGVyc29uYWwgdHJhaW5pbmcgdmlkZW8%3D">Learn More</a>
      </div>
      <div class="service">
        <img src="/static/image/service2.jpg" alt="Service 2">
        <h3>Group Classes</h3>
        <p> "Join our empowering group classes, where the power of unity fuels each participant's growth. Together, we strive, we sweat, and we succeed, fostering a supportive community that propels everyone towards their fitness goals. Unleash your strength, connect with like-minded individuals, and embrace the journey to a healthier, happier you."</p>
        <a href="https://i.ytimg.com/vi/stpIuLYiyb8/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBmCiBSGqSODgQ6T-CqR5_n1xERww">Learn More</a>
      </div>
      <div class="service">
        <img src="/static/image/service3.jpg" alt="Service 3">
        <h3>Nutrition Counseling</h3>
        <p> "Fuel your body with the knowledge and nourishment it deserves, as our expert nutrition counseling empowers you to make mindful choices, achieve your health goals, and embrace a balanced, vibrant lifestyle."</p>
        <a href="https://www.youtube.com/watch?v=dSCZVbGsFuE&pp=ygUeTnV0cml0aW9uIENvdW5zZWxpbmcgZ3ltIHZpZGVv">Learn More</a>
      </div>
    </div>

    <button></button>
  </section>
</div>
 
</body>

{% endblock body %}

</html>
